*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Helvetica Neue";
    background-color: #f4f4f5;
  }

  body > div {
    margin: auto;
  }

/* ======== Button ========= */
.btn {
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding: 12px 48px;
    border-radius: 50px;
    cursor: pointer;
    min-width: 120px;
    transition: opacity 0.2s ease;
    user-select: none;
  }
  
  /* Modifier */
.btn--size-l {
    padding: 16px 56px;
}

.btn--size-s {
    padding: 8px 32px;
}

.btn:hover {
    opacity: 0.8;
}

.btn + .btn {
    margin-left: 16px;
}

.btn--success {
    background-color: #71be34;
}

.btn--warn {
    background-color: #ffb702;
}

.btn--danger {
    background-color: #ff623d;
}

.btn--disabled, .btn[disabled] {
    opacity: 0.5 !important;
    pointer-events: none;
}


/* ======== Toast ========= */

#toast{
    position: fixed;
    top: 32px;
    right: 0;
}

.toast{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 480px;
    border-radius: 5px;
    padding: 20px 12px;
    margin: 25px;
    background: #f4f4f5;
    font-size: 16px;
    border-left: 8px solid;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.351);
    transition: all 0.4s linear;
    z-index: 100;
}

@keyframes rightToLeft {
    from {
        opacity: 0;
        transform: translateX(110%)
    }
    to{
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes fadeOut{
    to{
        opacity: 0;
    }
}

.toast__icon{
    font-size: 28px;
}

.toast__body{
    margin: 0 10px;
    flex-grow: 1;
}

.toast__title{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 5px;
}

.toast__msg{
    font-size: 16px;
    font-weight: 600;
    color: #afb0b4;
}

.toast__close{
    font-size: 24px;
    cursor: pointer;
    color: #9b9b9b;
}

.toast--success{
    border-color: rgb(85, 236, 85);
}

.toast--success .toast__icon{
    color:  rgb(85, 236, 85);
}

.toast--warning{
    border-color: rgb(247, 251, 61);
}

.toast--warning .toast__icon{
    color: rgb(218, 222, 0);
}

.toast--error{
    border-color: rgb(236, 85, 85);
}

.toast--error .toast__icon{
    color: rgb(236, 85, 85);
}

#toast{
    position: fixed;
    top: 32px;
    right: 0;
}